<h1>{{ blog.title }}</h1>

{% for article in blog.articles %}
  <div style=" background-color: skyblue">
    <a href="{{ article.url }}" style="text-decoration: none; color: #000">
      <h3>{{ article.title }}</h3>
      <p>
        {{ article.author }} -
        {{ article.created_at }}
      </p>
      <div>
        {{ article.excerpt }}
      </div>
    </a>


  </div>

{% endfor %}